*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}

body{
    display: flex;
}

.lado_esquerdo{
    width: 18%;
    height: 100vh;
    background-color: #00914B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: center;
}

.contain_logo{
    width: 137px;
    height: 137px;
    background-color: white;
    border-radius: 100%;
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain_logo img{
    width: 92px;
    height: 99px;
}

.menu li{
    padding: 20px 20px 20px 40px;
    margin-bottom: 10px;
}

.menu li:hover{
    background-color: white;
    color: black;
}

footer{
    text-align: center;
    margin-bottom: 20px;
}

.lado_direito{
    width: 100%;
}

.barra_perfil{
    height: 55px;
    width: 100%;
    background-color: #38B478;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.barra_perfil a{
    text-decoration: none;
    margin-left: 10px;
}

.barra_perfil i{
    font-size: 44px;
}

.right{
    display: flex;
    align-items: center;
}

.box{
    width: 774px;
    height: 265px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 6.640736px solid #38B478;
    margin: auto;
    margin-top: 20%;
    border-radius: 10px;
}

.haq label{
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.alyasar img{
    width: 120px;
    height: 120px;
}

.top select{
    width: 200px;
    height: 22px;
    margin-bottom: 40px;
    margin-right: 10px;
    color: black;
    border: 1px solid #000;
    border-radius: 10px;
}

.top input{
    width: 200px;
    height: 20px;
    color: black;
    padding: 10px 0px 10px 5px;
    border: 1px solid #000;
    border-radius: 10px;
    
}

.bottom input{
    width: 200px;
    height: 20px;
    color: black;
    padding: 10px 0px 10px 5px;
    border: 1px solid #000;
    border-radius: 10px;
}

.bottom select{
    width: 200px;
    height: 22px;
    margin-right: 10px;
    color: black;
    border: 1px solid #000;
    border-radius: 10px;
}