*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.body{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

.lado_esquerdo{
    width: 15%;
    height: 100%;
    background-color: #00914B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.header{
    display: flex;
    justify-content: center;
}

.contain_logo{
    width: 137px;
    height: 137px;
    background-color: white;
    border-radius: 100%;
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain_logo img{
    width: 92px;
    height: 99px;
}

.menu li{
    padding: 20px 20px 20px 40px;
    margin-bottom: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu li:hover{
    background-color: white;
    color: black;
    border: 1px solid #00914B;
}

.footer{
    text-align: center;
    margin-bottom: 20px;
}

.lado_direito{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15%;
}

.barra_perfil{
    height: 6%;
    width: 85%;
    background-color: #38B478;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    position: fixed;
}

.barra_perfil a{
    text-decoration: none;
    margin-left: 10px;
    color: white;
}

.barra_perfil i{
    font-size: 44px;
}

.right{
    display: flex;
    align-items: center;
}

.right a{
    cursor: pointer;
}

.card{
    width: 900px;
    height: 154px;
    background-color: #E9FDF4;
    border: 1.5px solid #38B478;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    font-size: 14px;
}

.header__two{
    background-color: #38B478;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    align-items: center;
    border-radius: 20px 20px 0 0; 
}

.header__two a{
    color: white;
    text-decoration: none;
}

.main__two{
    text-align: center;
    color: black;
}

.footer__two{
    display: flex;
    justify-content: space-between;
}

.data{
    padding: 7px;
    background-color: #00914B;
    font-size: 14px;
    font-weight: 100;
    border-radius: 0 0 0 20px;
}

.btn__list{
    margin-bottom: 7px;
    margin-right: 6px;
    padding: 4px;
    border: 0.5px solid #38B478;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.container__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94%;
    margin-top: 20%;
}